.menu-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    min-width: 400px;
}

.menu-button-link {
    width: 100%;
}

.menu-button-container button {
    text-align: center;
    width: 90%;
    margin: 10px;
}