.login-fieldset {
    display: flex;
    flex-direction: column;
}

.login-fieldset input {
    margin-bottom: 10px;
}

.login-fieldset button {
    margin: 5px 0px;
}

.error-message { 
    color: red;
}