table {
    width: 100%;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    text-align: left;
    padding: 10px;
    border-spacing: 0px;
}

table > tr {
    min-height: 50px;
}

table > td, th {
    padding: 5px;
    margin: 5px 15px;
}

table th:nth-child(5), td:nth-child(5) {
    min-width: 200px;
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-word;
}

.notification {
    justify-self: center;
    text-align: center;
    width: 100%;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}